<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your message, <%= @contact.name %></h1>
    <p>
      I will respond to your email shortly at <%= @contact.email %>.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>