@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "font-awesome";
@import "ionicons";
@import "plugin/jPushMenu";
@import "plugin/animate";
@import "jquery-ui";
@import "navigation";
@import "plugin/flexslider";
@import "plugin/owl.carousel";
@import "plugin/mediaelementplayer";
@import "plugin/colorbox";
@import "plugin/jquery.fs.tipper";


.btn-primary{
 background-color:#a3be0c;
 border-color: #94ac0c;
}

.btn-primary:hover{
 background-color:#89a009;
 border-color: #89a009;
}

.btn-primary:active{
 background-color:#89a009;
 border-color: #89a009;
}

.btn-primary:visited{
 background-color:#89a009;
 border-color: #89a009;
}

#social a{
  margin-right:10px;
}

/*@media only screen and (min-width:600px) and (max-width:900px){
  .resume{
    width:700px;
    height:1000px;
  }
  #plugin{
    width:400px;

  }
}
@media only screen and (max-width:600px){
  .resume{
    width:300px;
    height:500px;
  }
  #plugin{
    width:200px;
  }
}*/

